# Environment variables & secrets
.env
.env.*

# Python virtual environment
venv/
.venv/
env/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Testing cache
.pytest_cache/
.coverage
htmlcov/

# OS/IDE specific files
.vscode/
.idea/
Thumbs.db
.DS_Store
